<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->

    <import class="ch.qos.logback.core.encoder.LayoutWrappingEncoder" />
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>
    <import class="net.logstash.logback.encoder.LogstashEncoder"/>
    <import class="net.logstash.logback.stacktrace.ShortenedThrowableConverter"/>

    <springProperty name="log-pattern" source="logging.log-pattern"/>
    <springProperty name="log-root" source="logging.app-log-root"/>
    <springProperty name="appender-type" source="logging.appender-type"/>

    <!-- Console Appenders -->
    <appender name="ConsoleTextAppender" class="ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%10.15t] %-20.40c{1} : %m %marker%n%rEx{10}</pattern>
        </encoder>
    </appender>

    <appender name="ConsoleJsonAppender" class="ConsoleAppender">
        <encoder class="LogstashEncoder">
            <includeMdc>true</includeMdc>
            <throwableConverter class="ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <rootCauseFirst/>
            </throwableConverter>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="FileJsonAppender" class="RollingFileAppender">
        <file>${log-root}/log.log</file>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>${log-root}/log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="LogstashEncoder">
            <includeMdc>true</includeMdc>
            <throwableConverter class="ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <rootCauseFirst/>
            </throwableConverter>
        </encoder>
    </appender>

    <appender name="LogstashTcpAppender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:4560</destination>
        <encoder class="LogstashEncoder">
            <includeMdc>true</includeMdc>
            <throwableConverter class="ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <rootCauseFirst/>
            </throwableConverter>
        </encoder>
    </appender>


    <root additivity="false">
        <level value="warn" />
        <appender-ref ref="ConsoleTextAppender" />
    </root>
    
    <logger name="com.ravid.clothes_marketplace.Application" level="info" additivity="false">
        <appender-ref ref="Console${appender-type}Appender" />
        <!-- <appender-ref ref="FileJsonAppender" /> -->
        <!-- <appender-ref ref="LogstashTcpAppender" /> -->
    </logger>

    <logger name="com.ravid.clothes_marketplace" level="info" additivity="false">
        <appender-ref ref="Console${appender-type}Appender" />
        <!-- <appender-ref ref="FileJsonAppender" /> -->
        <!-- <appender-ref ref="LogstashTcpAppender" /> -->
    </logger>


</configuration>