# Custom Settings for our application
clothes-marketplace:
  env: ${DeploymentEnv}
  thread-pool-size: 20
  authorization-required-uris:
    - /Publisher-Service

springdoc:
  packagesTo-scan: 
    - com.ravid.clothes_marketplace.server
    - com.ravid.clothes_marketplace.server.api
    - com.ravid.clothes_marketplace.app.service
  paths-to-match: /**
  swagger-ui:
    use-root-path: true

server:
  http2:
    enabled: true
  port: 2000
  # additional-ports: 2004
  ssl:
    # client-auth: need
    enabled: false
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true

logging:
  config: classpath:log4j2.xml

# Database Config
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DbUrl}${DbName}${DbParams}
    username: ${DBusername}
    password: ${DBpassword}
  jpa:
    database: mysql
    defer-datasource-initialization: true
    properties:
      hibernate:
        "[enable_lazy_load_no_trans]": true
  sql:
    init:
      mode: always
    # continue-on-error: true